/* ui */

.layout {
    height: 120vh;
    width: 100vw;
    position: relative;
}

.l-1 {
    background: #F88AB0;
    filter: blur(140px);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 17%;
}

.l-2 {
    background: #6B92E5;
    filter: blur(150px);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: -140px;
    /* z-index: 1; */
}

/* header */

.header a {
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    color: #3B3B3B;
    line-height: normal;
}

/* footer */

.footer {
    background: linear-gradient(100deg, rgba(248, 138, 176, .288) 0%, rgba(119, 93, 196, .306) 100%);;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #3D3D3D;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.social-links a {
    font-size: 10px;
}

.footer-btn {
    background: linear-gradient(to right, #745AC3 55%, #F88AB0 100%) !important;
}

.ft-input {
    border: solid 1px black !important;
}

.ft-input:focus {
    box-shadow: none !important;
}