.main {
    padding-top: 10px;
    overflow: hidden;
}

/* ui */

.layout {
    /* height: 120vh; */
    width: 100vw;
    position: relative;
}

.l-1 {
    background: #F88AB0;
    filter: blur(140px);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 90px;
}

.l-2 {
    background: #6B92E5;
    filter: blur(150px);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: -140px;
}

.l-3 {
    background: rgba(107, 146, 229, 0.6);
    filter: blur(1850px);
    height: 1050px;
    width: 1050px;
    border-radius: 50%;
    position: absolute;
    right: -500px;
    bottom: 140px;
}

.l-4 {
    background: #F88AB0;
    filter: blur(1850px);
    height: 750px;
    width: 750px;
    border-radius: 50%;
    position: absolute;
    right: -200px;
    bottom: 2300px;
    opacity: .7;
}

.l-5 {
    background: #6B92E5;
    filter: blur(200px);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    left: -200px;
    bottom: 3750px;
}

.l-6 {
    background: #F88AB0;
    filter: blur(1500px);
    height: 900px;
    width: 900px;
    border-radius: 50%;
    position: absolute;
    right: -350px;
    bottom: 4400px;
    opacity: .6;
}

.l-7 {
    background: #6B92E5;
    filter: blur(250px);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    position: absolute;
    left: -100px;
    bottom: 1800px;
}

/* header */

.header {
    transition: ease-in-out 1s !important;
}

.header a {
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    color: #3B3B3B;
    line-height: normal;
    z-index: 100;
}

.header-bg {
    background: linear-gradient(100deg, rgb(247, 168, 195) 0%, rgb(169, 153, 219) 100%);
}

.header-bg a {
    color: white !important;
}

.header-bg a img {
    -webkit-filter: drop-shadow(0px 5px 15px #fafbffb3);
    filter: drop-shadow(0px 5px 15px #fafbffb3);
}

/* footer */

.footer {
    background: linear-gradient(100deg, rgba(248, 138, 176, .288) 0%, rgba(119, 93, 196, .306) 100%);
    box-shadow: 13.219px 13.219px 33.048px 0px rgba(22, 27, 29, 0.25), -25.863px -23.219px 33.048px 0px #FFF;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #3D3D3D;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.social-links a {
    font-size: 10px;
}

.footer-btn {
    background: linear-gradient(to right, #745AC3 55%, #F88AB0 100%) !important;
}

.ft-input {
    border: solid 1px black !important;
}

.ft-input:focus {
    box-shadow: none !important;
}
