@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Bebas+Neue&family=Inter:wght@400;600&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --backgroundColor: #ECF0F3;
}

html, body {
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* z-index: -10; */
}

#root {
  background: var(--backgroundColor);
  z-index: -10 !important;
}

.member {
  box-shadow: -13.3826px -11.1521px 27.8803px #fafbff,11.1521px 11.1521px 27.8803px #161b1d40;
}